#eventTitle {
    font-weight: bold;
    text-decoration: none;
    color: #007bff;
}

.geosuggest {
    display: inline-block !important;
}

.geosuggest__suggests {
    text-decoration: underline;
    list-style: none;
}

.createEventButton {
    position: relative;
    top: 10px;
    left: 10px;
    z-index: 1;
    
}