#profile-info {
    text-align: center;
}

#profilePicture {
    width: 220px;
    height: 220px;
    object-fit: cover;
}

#newProfilePicture {
    width: 220px;
    height: 220px;
    object-fit: cover;
}

#profilePictureDiv {
    overflow: hidden;
    display: inline-block;
    max-width: 100%;
    cursor: pointer;
}

#profilePictureHover {
    height: 220px;
    width: 220px;
    position: absolute;
    background-color: #00000099;
    border-radius: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#profilePictureDiv #profilePictureHover {
    opacity: 0;
}

#profilePictureDiv:hover #profilePictureHover {
    opacity: 1;
}

#dropzone {
    cursor: pointer;
    background-color: #00000022;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;

}

.col, .col-3 {
    padding: 10px;
}

#currEvent {
    font-weight: bold;
    text-decoration: none;
    color: #0554A6;
}